* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
    height: 100px;
    width: 100px;
}

header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
   justify-content:space-around;
   align-items: flex-start;
}

header>.div-one{
    background-color: green;
}

.div-two{
    background-color: blue;
}

.div-three{
    background-color: red;
}