.card{
    width: 350px;
    height: 430px;
    box-shadow: 5px 5px 5px 5px #a7a7a7;
}
.card_img{
    width: 100%;
    height: 60%;
   
}
.card_title{
    font-weight: bold;
    font-size: x-large;

}
.card_links_titles{
    font-size: larger;
}
.card_links{
    padding-top: 10px;
    color: grey;
    
}
.link_text{
    color: grey;
}